name: Publish OllamaNET on NuGet

permissions:
  contents: write

on:
  push:
    branches: [ master ]
    paths: [ 'src/OllamaNET/**' ]
  workflow_dispatch:

env:
  NET_VERSION: '10.x'
  PROJECT_NAME: src/OllamaNET
  PROJECT_FILE: OllamaNET.csproj
  RELEASE_NAME: OllamaNET

jobs:
  publish:
    name: Publish on NuGet
    runs-on: ubuntu-latest
    # Rimuovilo o assicurati che vars.REPOSITORY_OWNER sia configurato
    # if: ${{ github.repository_owner == vars.REPOSITORY_OWNER }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Nerdbank.GitVersioning
        uses: dotnet/nbgv@v0.4
        id: nbgv
        with:
          path: ${{ env.PROJECT_NAME }}

      - name: Package
        run: dotnet pack ${{ env.PROJECT_NAME }}/${{ env.PROJECT_FILE }} -c Release -o .

      - name: Publish on NuGet
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Create GitHub Release
        uses: actions/create-release@v1
        with:
          tag_name: v${{ steps.nbgv.outputs.NuGetPackageVersion }}
          release_name: ${{ env.RELEASE_NAME }} ${{ steps.nbgv.outputs.NuGetPackageVersion }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}