name: Publish OllamaNET on NuGet

permissions:
  contents: write
  checks: write
  statuses: write
  pull-requests: write
 
on:
  push:
    branches: [ master ]
    paths: [ 'src/OllamaNET/**' ]
  workflow_dispatch:

env:
  NET_VERSION: '10.x'
  PROJECT_NAME: src/OllamaNET 
  PROJECT_FILE: OllamaNET.csproj
  RELEASE_NAME: OllamaNET
  
jobs:
  publish:
    name: Publish on NuGet
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == vars.REPOSITORY_OWNER }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        
    - name: Setup .NET SDK ${{ env.NET_VERSION }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.NET_VERSION }}
        dotnet-quality: 'ga'
        
    - name: Nerdbank.GitVersioning 
      uses: dotnet/nbgv@v0.4
      id: nbgv
      with:        
        path: ${{ env.PROJECT_NAME }}
        
    - name: Package
      run: dotnet pack -c Release -o . '${{ env.PROJECT_NAME }}/${{ env.PROJECT_FILE }}'
      
    - name: Publish on NuGet
      run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json  
      
    - name: Create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      with:
          tag_name: v${{ steps.nbgv.outputs.NuGetPackageVersion }}
          release_name: ${{ env.RELEASE_NAME }} ${{ steps.nbgv.outputs.NuGetPackageVersion }}
          draft: false
          prerelease: false